<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Gestion ou mise en place de votre univers numérique</h2>
                <hr class="light">
                <p class="text-faded">Un site web? Un outil de gestion? S'affranchir de tâches répétitives? Passer de windows à Linux? Avoir quelques notions de sécurité et protéger ses données? </p>
                <a href="#contact" class="btn btn-default btn-xl">N'hésitez pas!</a>
            </div>
        </div>
    </div>
</section>
