<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<footer>
    <div class="header-content">
        <div class="header-content-inner">
          <center><a href="https://designerfonctionnel.com/mentions-legales.html" target="_blank" class="btn btn-link">Mentions légales</a></center>
        </div>
    </div>
</footer>